In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
data_path = r"E:\2nd year\Winter project\Thyroid Performance Analysis\Data"

In [2]:
data_path = r"C:\Users\dwija\OneDrive\Thyroid-Performance-Analysis\Data"

In [7]:
ann_test = pd.read_csv(data_path+r'\anntest.CSV')
ann_train = pd.read_csv(data_path+r'\anntrain.CSV')
hyper_test = pd.read_csv(data_path+r'\hyperTest.CSV')
hyper_train = pd.read_csv(data_path+r'\hyperTrain.CSV')
hypo_test = pd.read_csv(data_path+r'\hypoTest.CSV')
hypo_train = pd.read_csv(data_path+r'\hypoTrain.CSV')
all_hypo_train = pd.read_csv(data_path+r'\hypothyroid.csv')
euthyroid = pd.read_csv(data_path+r'\sick-euthyroid.CSV')
thyroid0387 = pd.read_csv(data_path+r'\thyroid0387EDIT.CSV')

In [ ]:
print("ann_test:")
print(ann_test.head())

In [ ]:
print("\nann_train:")
print(ann_train.head())

In [ ]:
print("\nhyper_test:")
print(hyper_test.head())

In [ ]:
print("\nhyper_train:")
print(hyper_train.head())

In [ ]:
print("\nhypo_test:")
print(hypo_test.head())

In [ ]:
print("\nhypo_train:")
print(hypo_train.head())

In [ ]:
print("\nall_hypo_train:")
print(all_hypo_train.head())

In [ ]:
print("\neuthyroid:")
print(euthyroid.head())

In [ ]:
print("\nthyroid0387:")
print(thyroid0387.head())

In [11]:

# Check for duplicates and NaN values
csv_files = [ann_test, ann_train, hyper_test, hyper_train, hypo_test, hypo_train, all_hypo_train, euthyroid, thyroid0387]

for df in csv_files:
    # Check for duplicates
    duplicate_rows = df[df.duplicated()]
    if not duplicate_rows.empty:
        print("\nDuplicates found in:")
        print(duplicate_rows)
    # Check for NaN values
    nan_values = df.isna().sum()
    if nan_values.sum() > 0:
        print("\nNaN values found in:")
        print(nan_values)

Duplicates found in:
       age  sex  on_thyroxine  query_on_thyroxine  on_antithyroid_medication  \
1034  0.26    0             0                   0                          0
1520  0.39    0             0                   0                          0
2031  0.39    0             0                   0                          0
2307  0.51    0             0                   0                          0
2680  0.39    0             0                   0                          0
2682  0.34    0             0                   0                          0
2730  0.50    0             0                   0                          0
3369  0.36    0             0                   0                          0

      sick  pregnant  thyroid_surgery  I131_treatment  query_hypothyroid  ...  \
1034     0         0                0               0                  0  ...
1520     0         0                0               0                  0  ...
2031     0         0                0               0                  0  ...
2307     0         0                0               0                  0  ...
2680     0         0                0               0                  0  ...
2682     0         0                0               0                  0  ...
2730     0         0                0               0                  0  ...
3369     0         0                0               0                  0  ...

      goitre  tumor  hypopituitary  psych      TSH      T3      TT4    T4U  \
1034       0      0              0      0  0.00232  0.0201  0.11329  0.096
1520       0      0              0      0  0.00232  0.0201  0.11329  0.096
2031       0      0              0      0  0.00232  0.0201  0.11329  0.096
2307       0      0              0      0  0.00232  0.0201  0.11329  0.096
2680       0      0              0      0  0.00232  0.0201  0.11329  0.096
2682       0      0              0      0  0.00232  0.0201  0.11329  0.096
2730       0      0              0      0  0.00232  0.0201  0.11329  0.096
3369       0      0              0      0  0.00232  0.0201  0.11329  0.096

          FTI  Target
1034  0.11776       3
1520  0.11776       3
2031  0.11776       3
2307  0.11776       3
2680  0.11776       3
2682  0.11776       3
2730  0.11776       3
3369  0.11776       3

[8 rows x 22 columns]

Duplicates found in:
       age  sex  on_thyroxine  query_on_thyroxine  on_antithyroid_medication  \
267   0.35    0             0                   0                          0
323   0.32    0             0                   0                          0
336   0.26    0             0                   0                          0
388   0.32    0             0                   0                          0
419   0.32    0             0                   0                          0
...    ...  ...           ...                 ...                        ...
3218  0.57    0             0                   0                          0
3269  0.57    1             0                   0                          0
3414  0.54    0             0                   0                          0
3520  0.34    0             0                   0                          0
3636  0.56    0             0                   0                          0

      sick  pregnant  thyroid_surgery  I131_treatment  query_hypothyroid  ...  \
267      0         0                0               0                  0  ...
323      0         0                0               0                  0  ...
336      0         0                0               0                  0  ...
388      0         0                0               0                  0  ...
419      0         0                0               0                  0  ...
...    ...       ...              ...             ...                ...  ...
3218     0         0                0               0                  0  ...
3269     0         0                0               0                  0  ...
3414     0         0                0               0                  0  ...
3520     0         0                0               0                  0  ...
3636     0         0                0               0                  0  ...

      goitre  tumor  hypopituitary  psych      TSH      T3      TT4    T4U  \
267        0      0              0      0  0.00189  0.0206  0.11118  0.099
323        0      0              0      0  0.00189  0.0206  0.11118  0.099
336        0      0              0      0  0.00189  0.0206  0.11118  0.099
388        0      0              0      0  0.00189  0.0206  0.11118  0.099
419        0      0              0      0  0.00189  0.0206  0.11118  0.099
...      ...    ...            ...    ...      ...     ...      ...    ...
3218       0      0              0      0  0.00189  0.0206  0.11118  0.099
3269       0      0              0      0  0.00189  0.0206  0.11118  0.099
3414       0      0              0      0  0.00189  0.0206  0.11118  0.099
3520       0      0              0      0  0.00189  0.0206  0.11118  0.099
3636       0      0              0      0  0.00189  0.0206  0.11118  0.099

          FTI  Target
267   0.11207       3
323   0.11207       3
336   0.11207       3
388   0.11207       3
419   0.11207       3
...       ...     ...
3218  0.11207       3
3269  0.11207       3
3414  0.11207       3
3520  0.11207       3
3636  0.11207       3

[63 rows x 22 columns]

Duplicates found in:
       Unnamed: 0 Age Sex on_thyroxine query_on_thyroxine  \
53    hypothyroid  69   F            f                  f
66    hypothyroid  62   M            f                  f
124   hypothyroid  77   F            f                  f
128   hypothyroid  79   F            f                  f
131   hypothyroid  50   F            t                  f
...           ...  ..  ..          ...                ...
3048     negative  28   M            f                  f
3055     negative  33   F            f                  f
3066     negative  74   F            t                  f
3111     negative  89   M            f                  f
3151     negative  58   F            f                  f

     on_antithyroid_medication thyroid_surgery query_hypothyroid  \
53                           f               f                 f
66                           f               f                 f
124                          f               f                 f
128                          f               f                 f
131                          f               f                 f
...                        ...             ...               ...
3048                         f               f                 f
3055                         f               f                 f
3066                         f               f                 f
3111                         f               f                 f
3151                         f               f                 f

     query_hyperthyroid pregnant  ... T3_measured   T3 TT4_measured  TT4  \
53                    f        f  ...           y  0.8            y   53
66                    f        f  ...           y  0.4            y   10
124                   f        f  ...           y  0.5            y   33
128                   f        f  ...           y  1.6            y   47
131                   f        f  ...           n    ?            y   55
...                 ...      ...  ...         ...  ...          ...  ...
3048                  f        f  ...           y  3.1            y  107
3055                  f        f  ...           y  0.8            y   88
3066                  f        f  ...           y  1.8            y  126
3111                  f        f  ...           y  0.9            y   82
3151                  f        f  ...           y  3.1            y  151

     T4U_measured   T4U FTI_measured  FTI TBG_measured TBG
53              y  0.86            y   61            n   ?
66              y     1            y   10            n   ?
124             y  0.67            y   49            n   ?
128             y  0.97            y   48            n   ?
131             y  0.93            y   60            n   ?
...           ...   ...          ...  ...          ...  ..
3048            y  1.05            y  103            n   ?
3055            y  1.02            y   86            n   ?
3066            y  1.18            y  107            n   ?
3111            y   0.8            y  103            n   ?
3151            y   1.4            y  108            n   ?

[77 rows x 26 columns]

Duplicates found in:
              Target age sex on_thyroxine query_on_thyroxine  \
32    sick-euthyroid  66   F            f                  f
105   sick-euthyroid   ?   F            f                  f
168   sick-euthyroid   ?   F            f                  f
174   sick-euthyroid  75   F            f                  f
194   sick-euthyroid  60   F            f                  f
...              ...  ..  ..          ...                ...
2991        negative  24   F            f                  f
3053        negative  28   M            f                  f
3071        negative  74   F            t                  f
3143        negative  79   F            f                  f
3153        negative  58   F            f                  f

     on_antithyroid_medication thyroid_surgery query_hypothyroid  \
32                           f               f                 f
105                          f               f                 f
168                          f               f                 f
174                          f               f                 f
194                          f               f                 f
...                        ...             ...               ...
2991                         f               f                 f
3053                         f               f                 f
3071                         f               f                 f
3143                         f               f                 f
3153                         f               f                 f

     query_hyperthyroid pregnant  ... T3_measured    T3 TT4_measured  TT4  \
32                    f        f  ...           y  0.80            y   90
105                   f        f  ...           y  0.10            y   31
168                   f        f  ...           y  0.30            y   44
174                   f        f  ...           y  0.70            y   78
194                   f        f  ...           y     1            y   73
...                 ...      ...  ...         ...   ...          ...  ...
2991                  f        f  ...           y  0.70            y   28
3053                  f        f  ...           y  3.10            y  107
3071                  f        f  ...           y  1.80            y  126
3143                  f        f  ...           y  1.60            y   47
3153                  f        f  ...           y  3.10            y  151

     T4U_measured   T4U FTI_measured  FTI TBG_measured TBG
32              y  0.77            y  117            n   ?
105             y  0.93            y   33            n   ?
168             y  0.56            y   77            n   ?
174             y  0.82            y   95            n   ?
194             y  0.82            y   89            n   ?
...           ...   ...          ...  ...          ...  ..
2991            y     1            y   28            n   ?
3053            y  1.05            y  103            n   ?
3071            y  1.18            y  107            n   ?
3143            y  0.97            y   48            n   ?
3153            y  1.40            y  108            n   ?

[78 rows x 26 columns]