In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data_path = r"E:\2nd year\Winter project\Thyroid Performance Analysis\Data"

In [3]:
data_path = r"C:\Users\dwija\OneDrive\Thyroid-Performance-Analysis\Data"

In [3]:
ann_test = pd.read_csv(data_path+r'\anntest.CSV')
ann_train = pd.read_csv(data_path+r'\anntrain.CSV')
hyper_test = pd.read_csv(data_path+r'\hyperTest.CSV')
hyper_train = pd.read_csv(data_path+r'\hyperTrain.CSV')
hypo_test = pd.read_csv(data_path+r'\hypoTest.CSV')
hypo_train = pd.read_csv(data_path+r'\hypoTrain.CSV')
all_hypo_train = pd.read_csv(data_path+r'\hypothyroid.csv')
euthyroid = pd.read_csv(data_path+r'\sick-euthyroid.CSV')
thyroid0387 = pd.read_csv(data_path+r'\thyroid0387EDIT.CSV')

In [4]:
data = {
    'ann test': ann_test,
    'ann train': ann_train,
    'hyper test': hyper_test,
    'hyper train': hyper_train,
    'hypo test': hypo_test,
    'hypo train': hypo_train,
}

In [5]:
ann_train = ann_train.drop_duplicates()
ann_test = ann_test.drop_duplicates()

In [6]:
for df_name, df in data.items():
    if 'ID' in df.columns:
        df.drop("ID", axis=1, inplace=True)
        df.drop("referral_source", axis=1, inplace=True)

In [7]:
def notCorrect_TargetFilter(df,correct_Target,target):
    df = df[df.Target.isin(correct_Target)]
    df.replace(correct_Target,target,inplace = True)
    return df

In [8]:
hyper_test = notCorrect_TargetFilter(hyper_test,["hyperthyroid","T3_toxic","goitre","secondary_toxic"],"hyperthyroid")
hyper_train = notCorrect_TargetFilter(hyper_train,["hyperthyroid","T3_toxic","goitre","secondary_toxic"],"hyperthyroid")
hypo_test = notCorrect_TargetFilter(hypo_test,["hypothyroid", "primary_hypothyroid", "compensated_hypothyroid", "secondary_hypothyroid"],"hypothyroid")
hypo_train = notCorrect_TargetFilter(hypo_train,["hypothyroid", "primary_hypothyroid", "compensated_hypothyroid", "secondary_hypothyroid"],"hypothyroid")

C:\Users\aashi\AppData\Local\Temp\ipykernel_11504\1994577439.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace(correct_Target,target,inplace = True)

In [9]:
Dataset = pd.concat([hyper_test,hyper_train,hypo_test,hypo_train], ignore_index = True)
display(Dataset.shape)

(393, 29)

In [10]:
Dataset['sex'] = Dataset['sex'].replace({'M': 0, 'F': 1})
Dataset

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,T3,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,Target
0,79,0,f,f,f,f,f,f,f,f,...,3.4,t,151,t,0.74,t,203,f,?,hyperthyroid
1,50,1,f,f,t,f,f,f,f,f,...,3.4,t,131,t,1.02,t,129,f,?,hyperthyroid
2,63,?,f,f,f,f,f,f,f,f,...,?,t,162,t,0.81,t,200,f,?,hyperthyroid
3,58,1,f,f,f,f,f,f,f,t,...,?,t,256,t,0.9,t,283,f,?,hyperthyroid
4,39,1,f,f,f,f,f,f,f,f,...,4,t,209,t,1.06,t,197,f,?,hyperthyroid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,60,1,f,f,f,f,f,f,f,t,...,1.1,t,45,t,0.97,t,46,f,?,hypothyroid
389,67,1,f,f,f,f,f,f,f,f,...,1,t,48,t,0.98,t,49,f,?,hypothyroid
390,46,1,f,f,f,f,f,f,f,f,...,1.2,t,48,t,0.89,t,54,f,?,hypothyroid
391,24,1,f,f,f,f,f,f,f,f,...,2.5,t,110,t,1.17,t,94,f,?,hypothyroid
392,25,1,f,f,f,f,f,f,f,f,...,0.7,t,21,t,1.1,t,19,f,?,hypothyroid

In [11]:
Dataset.replace('?', np.nan, inplace=True)
Dataset

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,T3,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,Target
0,79,0.0,f,f,f,f,f,f,f,f,...,3.4,t,151,t,0.74,t,203,f,NaN,hyperthyroid
1,50,1.0,f,f,t,f,f,f,f,f,...,3.4,t,131,t,1.02,t,129,f,NaN,hyperthyroid
2,63,NaN,f,f,f,f,f,f,f,f,...,NaN,t,162,t,0.81,t,200,f,NaN,hyperthyroid
3,58,1.0,f,f,f,f,f,f,f,t,...,NaN,t,256,t,0.9,t,283,f,NaN,hyperthyroid
4,39,1.0,f,f,f,f,f,f,f,f,...,4,t,209,t,1.06,t,197,f,NaN,hyperthyroid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,60,1.0,f,f,f,f,f,f,f,t,...,1.1,t,45,t,0.97,t,46,f,NaN,hypothyroid
389,67,1.0,f,f,f,f,f,f,f,f,...,1,t,48,t,0.98,t,49,f,NaN,hypothyroid
390,46,1.0,f,f,f,f,f,f,f,f,...,1.2,t,48,t,0.89,t,54,f,NaN,hypothyroid
391,24,1.0,f,f,f,f,f,f,f,f,...,2.5,t,110,t,1.17,t,94,f,NaN,hypothyroid
392,25,1.0,f,f,f,f,f,f,f,f,...,0.7,t,21,t,1.1,t,19,f,NaN,hypothyroid

In [12]:
Dataset = Dataset.drop(['TBG', 'TBG_measured'], axis=1)
Dataset

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TSH,T3_measured,T3,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,Target
0,79,0.0,f,f,f,f,f,f,f,f,...,0.005,t,3.4,t,151,t,0.74,t,203,hyperthyroid
1,50,1.0,f,f,t,f,f,f,f,f,...,0.03,t,3.4,t,131,t,1.02,t,129,hyperthyroid
2,63,NaN,f,f,f,f,f,f,f,f,...,NaN,f,NaN,t,162,t,0.81,t,200,hyperthyroid
3,58,1.0,f,f,f,f,f,f,f,t,...,0.2,f,NaN,t,256,t,0.9,t,283,hyperthyroid
4,39,1.0,f,f,f,f,f,f,f,f,...,0.02,t,4,t,209,t,1.06,t,197,hyperthyroid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,60,1.0,f,f,f,f,f,f,f,t,...,183,t,1.1,t,45,t,0.97,t,46,hypothyroid
389,67,1.0,f,f,f,f,f,f,f,f,...,46,t,1,t,48,t,0.98,t,49,hypothyroid
390,46,1.0,f,f,f,f,f,f,f,f,...,4.6,t,1.2,t,48,t,0.89,t,54,hypothyroid
391,24,1.0,f,f,f,f,f,f,f,f,...,10,t,2.5,t,110,t,1.17,t,94,hypothyroid
392,25,1.0,f,f,f,f,f,f,f,f,...,468,t,0.7,t,21,t,1.1,t,19,hypothyroid

In [13]:
Dataset.isna().sum()

age                           0
sex                          18
on_thyroxine                  0
query_on_thyroxine            0
on_antithyroid_medication     0
sick                          0
pregnant                      0
thyroid_surgery               0
I131_treatment                0
query_hypothyroid             0
query_hyperthyroid            0
lithium                       0
goitre                        0
tumor                         0
hypopituitary                 0
psych                         0
TSH_measured                  0
TSH                          13
T3_measured                   0
T3                           59
TT4_measured                  0
TT4                           5
T4U_measured                  0
T4U                          26
FTI_measured                  0
FTI                          26
Target                        0
dtype: int64

In [17]:
Dataset.dropna(axis = 0, thresh = 22, inplace = True)
Dataset.isna().sum()

age                           0
sex                          18
on_thyroxine                  0
query_on_thyroxine            0
on_antithyroid_medication     0
sick                          0
pregnant                      0
thyroid_surgery               0
I131_treatment                0
query_hypothyroid             0
query_hyperthyroid            0
lithium                       0
goitre                        0
tumor                         0
hypopituitary                 0
psych                         0
TSH_measured                  0
TSH                          13
T3_measured                   0
T3                           59
TT4_measured                  0
TT4                           5
T4U_measured                  0
T4U                          26
FTI_measured                  0
FTI                          26
Target                        0
dtype: int64

In [18]:
Dataset = Dataset.replace({"t":1,"f":0, "y":1, "n":0, "hypothyroid":1, "negative":0,"hyperthyroid":2, "F":1, "M":0})
display(Dataset)
display(Dataset.dtypes)

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TSH,T3_measured,T3,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,Target
0,79,0.0,0,0,0,0,0,0,0,0,...,0.005,1,3.4,1,151,1,0.74,1,203,2
1,50,1.0,0,0,1,0,0,0,0,0,...,0.03,1,3.4,1,131,1,1.02,1,129,2
2,63,NaN,0,0,0,0,0,0,0,0,...,NaN,0,NaN,1,162,1,0.81,1,200,2
3,58,1.0,0,0,0,0,0,0,0,1,...,0.2,0,NaN,1,256,1,0.9,1,283,2
4,39,1.0,0,0,0,0,0,0,0,0,...,0.02,1,4,1,209,1,1.06,1,197,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,60,1.0,0,0,0,0,0,0,0,1,...,183,1,1.1,1,45,1,0.97,1,46,1
389,67,1.0,0,0,0,0,0,0,0,0,...,46,1,1,1,48,1,0.98,1,49,1
390,46,1.0,0,0,0,0,0,0,0,0,...,4.6,1,1.2,1,48,1,0.89,1,54,1
391,24,1.0,0,0,0,0,0,0,0,0,...,10,1,2.5,1,110,1,1.17,1,94,1
392,25,1.0,0,0,0,0,0,0,0,0,...,468,1,0.7,1,21,1,1.1,1,19,1

age                           object
sex                          float64
on_thyroxine                   int64
query_on_thyroxine             int64
on_antithyroid_medication      int64
sick                           int64
pregnant                       int64
thyroid_surgery                int64
I131_treatment                 int64
query_hypothyroid              int64
query_hyperthyroid             int64
lithium                        int64
goitre                         int64
tumor                          int64
hypopituitary                  int64
psych                          int64
TSH_measured                   int64
TSH                           object
T3_measured                    int64
T3                            object
TT4_measured                   int64
TT4                           object
T4U_measured                   int64
T4U                           object
FTI_measured                   int64
FTI                           object
Target                         int64
dtype: object

In [20]:
cols = Dataset.columns[Dataset.dtypes.eq('object')]
Dataset[cols] = Dataset[cols].apply(pd.to_numeric, errors='coerce')
Dataset.dtypes

age                            int64
sex                          float64
on_thyroxine                   int64
query_on_thyroxine             int64
on_antithyroid_medication      int64
sick                           int64
pregnant                       int64
thyroid_surgery                int64
I131_treatment                 int64
query_hypothyroid              int64
query_hyperthyroid             int64
lithium                        int64
goitre                         int64
tumor                          int64
hypopituitary                  int64
psych                          int64
TSH_measured                   int64
TSH                          float64
T3_measured                    int64
T3                           float64
TT4_measured                   int64
TT4                          float64
T4U_measured                   int64
T4U                          float64
FTI_measured                   int64
FTI                          float64
Target                         int64
dtype: object

In [22]:
Dataset = Dataset.interpolate(method = 'spline', order = 3)
Dataset.isna().sum()

age                          0
sex                          0
on_thyroxine                 0
query_on_thyroxine           0
on_antithyroid_medication    0
sick                         0
pregnant                     0
thyroid_surgery              0
I131_treatment               0
query_hypothyroid            0
query_hyperthyroid           0
lithium                      0
goitre                       0
tumor                        0
hypopituitary                0
psych                        0
TSH_measured                 0
TSH                          0
T3_measured                  0
T3                           0
TT4_measured                 0
TT4                          0
T4U_measured                 0
T4U                          0
FTI_measured                 0
FTI                          0
Target                       0
dtype: int64